<%- include("partials/header.ejs") %>
<iframe
  id="myiFrame"
  src=""
  width="300"
  height="380"
  frameborder="0"
  allowtransparency="true"
  allow="encrypted-media"
></iframe>
<section class="card-list">
  <% tracks.forEach((track)=>{%>
  <article
    class="card"
    style="
      background-image: url('<%= track.albumArt %>');
      background-size: contain;
    "
  >
    <header class="card-header">
      <p><%= track.releaseDate %></p>
      <button
        onClick="$('#myiFrame').attr('src', 'https://open.spotify.com/embed/track/'+'<%= track.id %>');"
      >
        <h2><%= track.name %></h2>
      </button>
    </header>

    <div class="card-author">
      <div class="author-name">
        <div class="author-name-prefix">Artist:</div>
        <div class="author-name-name"><%= track.artistName %></div>
      </div>
    </div>
  </article>
  <%})%>
</section>
<%- include("partials/footer.ejs") %>
